@import "constant";
html,body{
  height: 100%;
}
div.app{
  height: 100%;
  width: 100%;
}

@font-face  {
  font-family: 'anticon';
  src: url('../../asset/fonts/ant-font/font_r5u29ls31bgldi.woff') ;
  /* IE9*/
  src: url('../../asset/fonts/ant-font/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox */ url('/asset/font/font_r5u29ls31bgldi.ttf') format('truetype')/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ ;
  /* iOS 4.1- */
}